<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="inicio()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="listarFavoritos()">Favoritos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container ">
  <h1>Listado de {{titulo}}</h1>


  <form [formGroup]="filtroForm">
      <div class="row">
        <div class="col">
          <select class="form-select" aria-label="Default select example" formControlName="registros">
            <option selected value="10">Registros</option>
            <option value="3">3</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select" aria-label="Default select example" formControlName="ordenar">
            <option selected>Ordenar por..</option>
            <option value="published_at">Fecha publicacion</option>
            <option value="title">Titulo</option>
            <option value="updated_at">Fecha Actualizacion</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="buscar" placeholder="busqueda" formControlName="buscar">
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="filtrar()">Filtrar</button>
        </div>
      </div>
  </form>

  <br>
  <div class="card"  *ngFor="let noticia of noticias">
    <div class="card-body">
      <h5 class="card-title">{{noticia.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{noticia.published_at | date:'d MMM y'}}</h6>
      <p class="card-text">{{noticia.summary}}</p>
      <p class="card-text"  *ngIf="delete">{{noticia.agregadoAt | date:'dd MMM yyyy'}}</p>
      <a class="card-link" (click)="agregarFavoritos(noticia)">Agregar a Favoritos</a>
      <a class="card-link" (click)="deleteFavorito(noticia)" *ngIf="delete">Eliminar</a>
    </div>
  </div>

</div>
